ul.about-social {
  list-style-type: none;
  padding:.5em 0;
}
a.about-social {
  text-align: center;
  width: emCalc(25px);
  height: emCalc(25px);
  display: inline-block;
  margin-right: .25em;
}
a.about-social.twitter {
  background: image-url('twitter-green.png') center center no-repeat;
}
a.about-social.linkedin {
  background: image-url('linkedin-green.png') center center no-repeat;
}
a.about-social.github {
  background: image-url('github-green.png') center center no-repeat;
}
a.about-social.dribbble {
  background: image-url('dribbble-green.png') center center no-repeat;
}