.header-home {
  background: image-url('bg-diamond-beige.jpg');
  background-color: #F2F1EF;
  padding:1em;
}
.header-home p,.header-home h1 { //THIS IS FOR TESTING
  text-align: center;
}
.header-inside {
  background: image-url('bg-diamond-beige.jpg');
  background-color: #F2F1EF;
  padding-top:1em;
  height: 4em;
}
ul.nav {
  cursor: pointer;
  margin:0 auto
}
.logo {
  margin-top: 2em;
}
.home-nav {
  ul {
    margin: 0 auto;
    padding-bottom: 2em;
    li {padding: .1em .4em;}
    li:hover {
      background:$green;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      a {
        color: $lighter-beige;
      }
    }
  }
}
