//Purples
$lightest-purple:#E8E3F1;
$lighter-purple:#CDC5E1;
$light-purple:#AA9CC0;
$purple:#867999;
$dark-purple:#635577;
$darker-purple:#493C60;
$darkest-purple:#31254B;

//Beiges
$lightest-beige:#F4EEE6;
$lighter-beige:#E7DEC8;
$light-beige:#D8C9A3;
$beige:#BCA779;
$dark-beige:#9B8354;
$darker-beige:#806639;
$darkest-beige:#5E461F;

//Yellow Greens
$lightest-ygreen:#D4D8B7;
$lighter-ygreen:#B9C08E;
$light-ygreen:#839E64;
$ygreen:#96A65C;
$dark-ygreen:#78823B;
$darker-ygreen:#5A6029;
$darkest-ygreen:#42451B;

//Greens
$lightest-green:#CAD8B7;
$lighter-green:#A3B789;
$light-green:#839E64;
$green:#698748;
$dark-green:#526E33;
$darker-green:#3A4F23;
$darkest-green:#3A4F23;