.header-home
  .row
    .small-3.large-4.columns
      %p left col
    .small-6.large-4.columns
      %p middle col
    .small-3.large-4.columns
      %p right col
    .small-11.small-centered.large-10.columns
      %h1 Trellis
    .small-8.small-centered.large-3.columns
      .home-nav
        =render "nav"
.wrapper/