.header-inside
  .row
    .small-5.large-3.columns
      %a.nav-inside-logo{:alt => "Trellis", :href => "/"}
        =image_tag "trellis-home-splash-logo.png"
    .small-7.large-9.columns
      %ul.inline-list.nav
        %li
          = link_to "About", '/about'
        %li
          = link_to "Services", '/'
        %li
          = link_to "Clients", '/'
        %li
          %a{:onclick => "$('.contact').animatescroll();"} Contact
        / %li
        /   = link_to "Blog", '#'
.wrapper/