.header-inside
  .row
    .small-5.large-3.columns
      %a.nav-inside-logo{:alt => "Trellis", :href => "/"}
        =image_tag "trellis-home-splash-logo.png"
    .small-7.large-9.columns
      =render "nav"
.wrapper/