%ul.inline-list.nav
  %li
    = link_to "About", '/about'
  %li
    %a{:onclick => "$('.grow').animatescroll();"} Services
  %li
    %a{:onclick => "$('.meaningful').animatescroll();"} Clients
  %li
    %a{:onclick => "$('.contact').animatescroll();"} Contact
  / %li
  /   = link_to "Blog", '#'