=render "inside_header"
.row
  .small-12.columns
    %h1.header-display About Us
    %p Founded in 2012, Trellis was created by Isaiah Bollinger, Zach Loubier, and Patrick Bean. While working as an Internet Marketing Consultant at Supermedia, Isaiah realized that most companies providing internet marketing services and consultation lacked the flexibility and customization that could propel a small to mid-size business forward. Isaiah envisioned a company that could provide personalized high-quality digital marketing and business development at an affordable rate. This made the goal of Trellis simple; to do everything in our power to help you grow your business with customized marketing solutions.
    %h2.header-display Who We Are
    %p We have developed a strong team of individuals whos goals is to provide the best products on the market today by only hiring experienced individuals. Our team’s knowledge and know-how make the typically complex process of developing your business’ online presence a pleasant and easy experience. Our devotion to customer service and experience mixed with our superb web skills will ultimately be the success of our company.
    .row
      .small-12.columns
        %h3.header-display Isaiah Bollinger, CEO
      .small-12.large-4.columns
        .small-12.small-centered.large-uncentered.columns
          =image_tag "isaiah.jpg"
        .small-11.small-centered.columns
          %ul.inline-list.about-social
            %li
              %a.about-social.twitter{:alt => "the Twitter account of Isaiah Bollinger, CEO of Trellis", :href => "#"}
            %li
              %a.about-social.linkedin{:alt => "the LinkedIn account of Isaiah Bollinger, CEO of Trellis", :href => "#"}
      .small-12.large-8.columns
        %p Isaiah is a young entrepreneur specializing in technology and internet start-ups. Isaiah has worked with small, medium, and Fortune 500 companies in both internet marketing services and sales of patented technology. Isaiah started Trellis because he felt there lacked a company with the ability to provide customized but also affordable internet marketing solutions to small businesses, thus this became the goal of Trellis. As an avid SEO and PPC enthusiast, Isaiah is dedicated to building effective marketing campaigns for all types and sizes of businesses.
    .row
      .small-12.columns
        %h3.header-display Zach Loubier, CTO
      .small-12.large-4.columns
        .small-12.small-centered.large-uncentered.columns
          =image_tag "zach.jpg"
        .small-11.small-centered.columns
          %ul.inline-list.about-social
            %li
              %a.about-social.twitter{:alt => "the Twitter account of Zach Loubier, CTO of Trellis", :href => "#"}
            %li
              %a.about-social.linkedin{:alt => "the LinkedIn account of Zachary Loubier, CTO of Trellis", :href => "#"}
            %li
              %a.about-social.github{:alt => "the GitHub account of Zachary Loubier, CTO of Trellis", :href => "#"}
      .small-12.large-8.columns
        %p Zach is a web developer with years of experience working with computers and different programming languages. With Zach's experience working on hardware, software and web design, Zach possesses the necessary skills to manage a complex and growing database of customers for Trellis.  Zach was also one of the top IT students at Babson College, with a 4.0 GPA in IT management.   Whether it be an eCommerce website with 10,000 products or a framework for a massive social media website, Zach can provide the technology to make any project succeed.
    .row
      .small-12.columns
        %h3.header-display Patrick Bean, COO
      .small-12.large-4.columns
        .small-12.small-centered.large-uncentered.columns
          =image_tag "pat.jpg"
        .small-11.small-centered.columns
          %ul.inline-list.about-social
            %li
              %a.about-social.twitter{:alt => "the Twitter account of Pat Bean, COO of Trellis", :href => "#"}
            %li
              %a.about-social.linkedin{:alt => "the LinkedIn account of Patrick Bean, COO of Trellis", :href => "#"}
      .small-12.large-8.columns
        %p Patrick has been working in the IT industry for over 5 years, in which he started as a technician for Paragus IT solutions. Patrick is well versed in many programming languages including Java, PHP, and database programming MySQL. Patrick's was enthralled with the opportunity to help build more effective and efficient internet marketing solutions for Trellis using both his strong business and computer science background to increase Trellis's operational efficiency.
    .row
      .small-12.columns
        %h3.header-display Alex Boerstler, Lead Designer
      .small-12.large-4.columns
        .small-12.small-centered.large-uncentered.columns
          =image_tag "alex.jpg"
        .small-11.small-centered.columns
          %ul.inline-list.about-social
            %li
              %a.about-social.twitter{:alt => "the Twitter account of Alex Boestler, Lead Designer at Trellis", :href => "#"}
            %li
              %a.about-social.linkedin{:alt => "the LinkedIn account of Alex Boerstler, Lead Designer Trellis", :href => "#"}
            %li
              %a.about-social.github{:alt => "the GitHub account of Alex Boerstler, Lead Designer at Trellis", :href => "#"}
            %li
              %a.about-social.dribbble{:alt => "the Dribbble account of Alex Boerstler, Lead Designer at Trellis", :href => "#"}
      .small-12.large-8.columns
        %p Alex is just a humble citizen of the internet that loves bluegrass, technology, food, and mandolins.
=render "footer"